core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
kaggle.json
.venv/
# Ignore Data folders 
data/raw/ 
data/interim
data/processed/

ignore jupyter notebook checkpoints 
.ipynb_checkpoints/

# Ignore temporary or log files 
*.log.DS_store